{# Status badge partial - Usage: {% include 'partials/status_badge.html' with context %} #}
{# Required: status (draft|deposited|notified|available|accepted|refused|expired|received) #}

{% set status_config = {
    'draft': {'label': 'Brouillon', 'class': 'status--draft', 'icon': 'edit'},
    'deposited': {'label': 'Déposé', 'class': 'status--deposited', 'icon': 'inbox'},
    'notified': {'label': 'Notifié', 'class': 'status--notified', 'icon': 'bell'},
    'available': {'label': 'Disponible', 'class': 'status--available', 'icon': 'clock'},
    'accepted': {'label': 'Accepté', 'class': 'status--accepted', 'icon': 'check'},
    'refused': {'label': 'Refusé', 'class': 'status--refused', 'icon': 'x'},
    'expired': {'label': 'Négligé', 'class': 'status--expired', 'icon': 'alert'},
    'received': {'label': 'Reçu', 'class': 'status--received', 'icon': 'check-circle'}
} %}

{% set config = status_config.get(status, {'label': status, 'class': '', 'icon': 'help'}) %}

<span class="status-badge {{ config.class }}">
    {% if config.icon == 'edit' %}
    <svg viewBox="0 0 20 20" fill="currentColor"><path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"/></svg>
    {% elif config.icon == 'inbox' %}
    <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5 3a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2H5zm0 2h10v7h-2l-1 2H8l-1-2H5V5z"/></svg>
    {% elif config.icon == 'bell' %}
    <svg viewBox="0 0 20 20" fill="currentColor"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"/></svg>
    {% elif config.icon == 'clock' %}
    <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"/></svg>
    {% elif config.icon == 'check' %}
    <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"/></svg>
    {% elif config.icon == 'x' %}
    <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"/></svg>
    {% elif config.icon == 'alert' %}
    <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"/></svg>
    {% elif config.icon == 'check-circle' %}
    <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"/></svg>
    {% endif %}
    {{ config.label }}
</span>
